# venv
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Django
*.sql
media/
logs/
staticfiles/

# Node
node_modules/

# Environment
.env
*.env

# Misc
tmp.txt
.DS_Store

config/settings/development.py

# VS Code
.vscode/db.sqlite3
db.sqlite3
