{% load ui_tags %}
<section class="w-full">
    <div class="grid md:grid-cols-2">

        <!-- Left - bleeds to left edge, content aligned right -->
        <div class="bg-[--color-bg-secondary] text-[--color-text-secondary] flex justify-end">
            <div class="w-full max-w-[calc(theme(maxWidth.7xl)/2)] px-8 py-12">
                <h1 class="text-5xl font-bold mb-4">
                    {{ l_title }}
                </h1>
                <p class="text-xl text-gray-600">
                    {{ l_content }}
                </p>
                {% if l_button %}
                    {% render_button label=l_button.label href=l_button.href bg_color=l_button.bg_color text_color=l_button.text_color %}
                {% endif %}
            </div>
        </div>

        <!-- Right - bleeds to right edge, content aligned left -->
        <div class="bg-[--color-bg-primary] text-[--color-text-primary] flex justify-end">
            <div class="w-full max-w-[calc(theme(maxWidth.7xl)/2)] px-8 py-12">
                <h1 class="text-5xl font-bold mb-4">
                    {{ r_title }}
                </h1>
                <p class="text-xl text-gray-600">
                    {{ r_content }}
                </p>
                {% if r_button %}
                    {% render_button label=r_button.label href=r_button.href bg_color=r_button.bg_color text_color=r_button.text_color %}
                {% endif %}
            </div>
        </div>

    </div>
</section>