{% load ui_tags %}
<section class="w-full py-24" style="{{style}}">
    <div class="max-w-7xl mx-auto px-6 text-center">

        <h1 class="text-5xl font-bold mb-4">
            {{ banner.title }}
        </h1>

        <p class="text-xl text-gray-600">
            {{ banner.content }}
        </p>
        {% if banner.button %}
            {% render_button label=banner.button.label href=banner.button.href bg_color=banner.button.bg_color text_color=banner.button.text_color %}
        {% endif %}

    </div>
</section>
