{% load ui_tags %}
<section class="w-full py-24" style="background-color: var(--color-{{banner.bg_color |default:'bg-primary'}}); color: var(--color-{{banner.text_color |default:'bg-primary'}});" >
    <div class="max-w-7xl mx-auto px-6 text-center">

        <h1 class="text-5xl font-bold mb-4">
            {{ banner.title }}
        </h1>

        <p class="text-xl text-gray-600">
            {{ banner.content }}
        </p>
        {% if banner.button %}
            {% render_button button=banner.button %}
        {% endif %}

    </div>
</section>
