{% extends "base.html" %}
{% block title %}{{ site_settings.restaurant_name|default:"SoHo Pittsburgh" }} - {{ site_settings.tagline|default:"The Original North Shore Restaurant" }}{% endblock %}
{% load ui_tags %}
{% block content %}

{% include "core/components/banner_full.html" with banner=hero_banner %}

{% include "core/components/banner_full.html" with banner=grubhub_banner %}

{% include "core/components/50_50_r_img.html" with l_button=grubhub_banner.button l_title=grubhub_banner.title content=l_grubhub_banner.content r_content=right.content%}

{% include "core/components/50_50_l_img.html" with r_button=grubhub_banner.button r_title=grubhub_banner.title content=r_grubhub_banner.content l_content=right.content%}

{% include "core/components/50_50.html" with r_button=grubhub_banner.button r_title=grubhub_banner.title content=r_grubhub_banner.content %}


<!-- ========================= -->
<!-- 60 / 40 SPLIT SECTION -->
<!-- ========================= -->
<section class="w-full bg-white py-20">
    <div class="max-w-7xl mx-auto px-6 grid md:grid-cols-5 gap-12 items-center">

        <!-- 60% Column -->
        <div class="md:col-span-3">
            <h2 class="text-4xl font-bold mb-6">60% Content Area</h2>
            <p class="text-gray-600 mb-4">
                Larger content area. Perfect for text-heavy sections.
            </p>
        </div>

        <!-- 40% Column -->
        <div class="md:col-span-2">
            <img src="https://via.placeholder.com/500x400"
                 alt="Placeholder"
                 class="rounded-2xl shadow-lg w-full">
        </div>

    </div>
</section>

{% endblock %}